#dialog(ng-controller="DialogCtrl", ng-click="hide($event)", ng-class="{'open':open}", class="{{type}} close-dialog")
    #dialog-content(ng-click="")
        h3 {{title}}
        .content(ng-bind-html="content", compile)
        .actions
            button.cancel.close-dialog Cancel
            button.ok.close-dialog Ok
            button.confirm(ng-click="confirm()") Ok
