header
    img(src="img/header.svg")
nav
    ul
        li.button.selected Search
        li.button Create
section.search
    .input-container
        input(type='text')
        div
    ul.list-of
        li 1
        li 2
        li 3
        li 4
        li 5
        li 6
section.create
    .input-container
        input(type='text')
        div
    .input-container
        input(type='password')
        div

