#home
    #page
        header

        p
            | Bienvenue sur LaBanane, l'application pour écouter et partager votre musique !
            br
            | N'hésitez pas à nous rejoindre sur Facebook pour être tenu au courant des nouveautés, nous remonter un bug ou tout
            | simplement pour partager votre playlist !

        nav
            ul
                li(ng-class="{'selected':isPlaylistSearch}", ng-click='searchPlaylistMode()') Search
                li(ng-class="{'selected':isPlaylistCreation}", ng-click='createPlaylistMode()') Create

        section.search(ng-show='isPlaylistSearch')

            .input-container
                input#input-search-playlist(input-text, type="text", ng-model="search", autocomplete="off")
                label(for="input-search-playlist") Name
            ul.playlists
                li(ng-repeat="playlist in allPlaylists | filter:search | limitTo:maxPlaylistsDisplayed")
                    a(href="/player/{{playlist}}") {{playlist}}

            h3(ng-show="lastPlaylists") Last {{lastPlaylists.length}} visited playlists
            ul.playlists
                li(ng-repeat="playlist in lastPlaylists")
                    a(href="/player/{{playlist}}") {{playlist}}

        section#create(ng-show='isPlaylistCreation')
            p.note Tips : please note that if you lost your password you will not be able to retrieve it !
            form(name="playlistForm")
                .input-container
                    input#playlist-name(ng-model="playlist.name", input-text, type="text", autocomplete="off", required)
                    label(for="playlist-name") Playlist name
                .input-container
                    input#playlist-password(ng-model="playlist.password", input-text, type="password", autocomplete="off", required)
                    label(for="playlist-password") Password
                button.button.send(ng-click='createPlaylist()', ng-disabled="playlistForm.$invalid") Send
