#player
    header
        h4#playlist-name
            | LaBanane -
            | {{playlist.name}}
            | ({{playlist.content.length}} songs)
        button#clone clone
        div(ng-show="playlist.owner")
            button#edit edit
            button#clear(ng-click="clearPlaylist()") clear
        a#back-home.button(href="/app")
    #left
        section
            h2#track-name {{playist.currentTrack.name}}

            #track-state.slider
                .control
                    .cursor

            ul#player-controls
                li
                    button.previous
                li
                    button.play
                li
                    button.next
                li
                    button.shuffle
                li
                    button.volume-up

        section#playlist.track-list
            ul.tracks(scrollable, playlist)
                li(ng-repeat="track in playlist.content track by $index", playlist-track) {{track.name}}
                    .remove
    #right(ng-controller="SearchCtrl")
        nav
            ul
                li.tab(ng-class="{'selected':provider === 'soundcloud'}", ng-click='setSoundcloudProvider()') Soundcloud
                li.tab(ng-class="{'selected':provider === 'youtube'}", ng-click='setYoutubeProvider()') Youtube

        .input-container
            input#search(input-text, type="text", autocomplete="off", ng-model="keywords", ng-change="search()")
            label(for="search") Song name

        section#results.track-list
            p.note Tips : to add a song to your playlist, you can use drag'n'drop or double click. ;)
            ul.tracks(scrollable)
                li(ng-repeat="track in results track by $index", resources-track, data-provider="track.provider", data-provider-id="track.provider-id") {{track.name}}