#player
    header
        h4#playlist-name
            | LaBanane -
            | {{playlist.name}}
            | ({{playlist.content.length}} songs)
        button#clone clone
        button#edit(ng-hide="playlist.owner", ng-click="authentication()") edit
        button#clear(ng-show="playlist.owner", ng-click="confirmClearPlaylist()") clear
        a#back-home.button(href="/app") home
    #left
        section
            h2#track-name {{playlist.currentTrack.name}}

            #track-state.slider
                .control
                    .cursor

            ul#player-controls
                li
                    button.previous(ng-click="previous()")
                li(ng-hide="controls.isPlaying")
                    button.play(ng-click="play()")
                li(ng-show="controls.isPlaying")
                    button.pause(ng-click="pause()")
                li
                    button.next(ng-click="next()")
                li
                    button.shuffle(ng-click="toggleShuffleMode()", ng-class="{shuffleModeOn: controls.isShuffleMode}")
                li
                    button.volume-up(ng-click="mute()")

        section#playlist.track-list
            ul.tracks(scrollable, playlist)
                li(ng-repeat="track in playlist.content track by $index", playlist-track, ng-class="{currentTrack: $index == playlist.currentTrack.index}", data-index="{{$index}}")
                    .remove(ng-click="remove($index)")
                    .track(ng-click="play($index)") {{track.name}}
    #right(ng-controller="SearchCtrl")
        nav
            ul
                li.tab(ng-class="{'selected':provider === 'soundcloud'}", ng-click='setSoundcloudProvider()') Soundcloud
                li.tab(ng-class="{'selected':provider === 'youtube'}", ng-click='setYoutubeProvider()') Youtube

        .input-container
            input#search(input-text, type="text", autocomplete="off", ng-model="keywords", ng-change="search()")
            label(for="search") Song name

        section#results.track-list
            p.note Tips : to add a song to your playlist, you can use drag'n'drop or double click. ;)
            ul.tracks(scrollable)
                li(ng-repeat="track in results track by $index", resources-track, data-provider="{{track.provider}}", data-id="{{track.id}}")
                    .add(ng-click="addSongToPlaylistEnd(track)")
                    .track(ng-dblclick="addSongToPlaylistEnd(track)") {{track.name}}
#youtube-player(youtube-player)