ul#player-controls
    li
        button.previous(ng-click="previous()")
    li(ng-hide="controls.isPlaying")
        button.play(ng-click="play()")
    li(ng-show="controls.isPlaying")
        button.pause(ng-click="pause()")
    li
        button.next(ng-click="next()")