#player
    header
        h4#playlist-name
            | LaBanane -
            | {{playlist.id}}
            | ({{playlist.content.length}} songs)
        button#clone clone
        div(ng-hide="playlist.owner")
            button#edit edit
            button#clear clear
        a#back-home(href="/app")
    #left
        section
            h2#track-name {{playist.currentTrack.name}}

            #track-state.slider
                .control
                    .cursor

            ul#player-controls
                li
                    button.previous
                li
                    button.play
                li
                    button.next
                li
                    button.shuffle
                li
                    button.volume-up

        section#playlist
            ul.tracks(scrollable)
                li(ng-repeat="track in playlist.content") {{track.name}}
                    .remove
    #right(ng-controller="SearchCtrl")
        nav
            ul
                li.tab(ng-class="{'selected':isSoundcloudProvider}", ng-click='setSoundcloudProvider()') Soundcloud
                li.tab(ng-class="{'selected':isYoutubeProvider}", ng-click='setYoutubeProvider()') Youtube

        .input-container
            input#search(input-text, type="text", autocomplete="off", ng-model="keywords")
            label(for="search") Song name

        section#results
            p.note Tips : to add a song to your playlist, you can use drag'n'drop or double click. ;)
            ul.tracks
                li(ng-repeat="track in results | filter:keywords") {{track.name}}