@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400);

@import 'constants.less';

* {
  margin : 0;
  padding : 0;
  border : 0;
  box-sizing : border-box;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  height : 100%;
}


input, select, textarea, button{
  &:focus {
    outline: none;
  }
}

h2, h3 {
  font-style: italic;
}

ul {
  list-style : none;
}

a {
  color: @black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  color : @black;
  background : @yellow;
  font-family: 'Roboto Condensed', sans-serif;
  height : 100%;
}

button, .button{
  padding : @padding;
  cursor : pointer;
  background : @black-05;
  font-family : 'Roboto Condensed';
  color : @black;
  font-size : 1em;

  &:hover {
    background: @black-10;
  }

  &:disabled {
    background-color : @black-05;
  }
}

nav {
  margin-top : @padding;
  ul {
    display: flex;
    font-style: italic;
    border-bottom : 1px solid @black;

    li {
      display : inline-block;
      flex : 1;
      font-size: 1.8em;
      text-align : center;
      padding : @padding-medium;
      cursor : pointer;
      background : @black-05;
	  transition : all @anim-duration;

      &:hover {
        background : @black-10;
      }

      &.selected {
        background : @black;
        color : @yellow;
      }
    }
  }
}

ul.playlists{
  margin : 1em 0;

  li {
    height : 1em;

    &:before {
      content : '> ';
    }
  }
}

ul.tracks {
  background: @black-02;

  li {
    padding-left : @padding;
    position : relative;
    cursor : pointer;
    height: 1.5em;
    vertical-align: middle;
    line-height: 1.5em;

    &:nth-child(odd) {
      background: @black-05
    }

    &:hover {
      background : #89700d; // Can't have alpha channel
      color : @yellow;
    }
  }
}

p {
  margin : @padding-medium 0;

  &.note {
    font-size : 0.8em;
  }
}

#app {
  height : 100%;
}
