@import 'constants.less';

#home {
  overflow-y: scroll;
  height: 100%;

  #page {
    max-width: 600px;
    margin: auto;
    padding: @padding;
  }

  header {
    text-align: center;
    background : url("../img/header.svg") no-repeat scroll center center / contain transparent;
    height: 9em;
    position : relative;

    + p {
      border-top : 1px solid @black;
      margin-top: -1.5em;
      padding-top: 2em;
    }
  }

  #create {
    @arrow-width : 20px;

    form {

      section {
        position : relative;
        display : flex;
        flex-direction: row;
        align-content: stretch;
        padding-right: @arrow-width;

        .inputs {
          flex : 1;
          padding-right : 20px;
        }
      }

      button {
        flex: 0 1 auto;
        padding-left : 3*@padding;
        transition : all @anim-duration;
        background : @black-20;
        position : relative;

        &:disabled {
          background : @black-05;
          padding-left : @padding;
        }
      }

      svg {
        position : absolute;
        top : 0;
        bottom : 0;
        width: @arrow-width;
        height: 100%;

        path {
          fill : @black-20;
        }
      }
    }
  }
}

