@import 'constants.less';

#home-page {
  overflow-y: scroll;
  height: 100%;

  #page {
    max-width: 600px;
    margin: auto;
    padding: @padding;
  }

  header {
    text-align: center;
    background : url("../img/header.svg") no-repeat scroll center center / contain transparent;
    height: 9em;
    position : relative;

    + p {
      border-top : 1px solid @black;
      margin-top: -1.8em;
      padding-top: 2em;
    }
  }

  #create {
    @arrow-width : 20px;

    form {

      .send {
        vertical-align: middle;
        position : relative;
        font-size : 1em;
        font-style : italic;
        float : right;
        overflow : hidden;
        transition : all @anim-duration;
        padding-left : 3*@padding;
        margin-top : @padding;

        &:before {
          content : '';
          position : absolute;
          left : @padding-medium;
          top : 50%;
          margin-top : -12px;
          height : 24px;
          width : 24px;
          transition : all @anim-duration;
          background: url('../img/icons/ic_chevron_right_black_24px.svg') no-repeat scroll center left / contain transparent;
        }
      }

      &.ng-invalid {
        .send {
          cursor : default;
          padding-left : @padding;

          &:before {
            left : -200px;
          }
        }
      }
    }
  }
}

