@media screen and (max-width: 640px) {

  #player-page {
    padding-top : 32px !important;
    width: 200% !important;

    header h1 {
      display : block !important;
    }

    #player-controls {

      li {
        width: 25% !important;
        height: 40px !important;

        &.volume {
          width: 100% !important;
        }
      }
    }
  }

}