.sprite-remove-black {
  background: url('../img/sprite.svg') no-repeat 0 0;
  width: 16px;
  height: 16px;
}

.sprite-remove-yellow {
  background: url('../img/sprite.svg') no-repeat 0 -16px;
  width: 16px;
  height: 16px;
}

.sprite-add-black {
  background: url('../img/sprite.svg') no-repeat -16px 0;
  width: 16px;
  height: 16px;
}
