doctype html
html(ng-app="LaBanane")
    head
        meta(charset='utf8')
        base(href='/')
        title LaBanane
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, user-scalable=0")
        link(rel='stylesheet', href='dist/app.css')
        link(rel='shortcut icon', type='image/png' href='/img/favicon.png')
    body
        block body